{{#> 'systems/sr6elysium/dist/templates/common/TabWrapper.html' tabId='effects'}}
    <div class="inventory">
        <div class="scroll-area">
        <!-- Local Document Effects. Actor and Item. -->
        {{> 'systems/sr6elysium/dist/templates/common/List/ListHeader.html'
            name=(localize 'SR6.Effects')
            itemCssClass='list-item-effect'
            rightSide=(ItemHeaderRightSide 'effects')
            icons=(ItemHeaderIcons 'effect')
            tooltip=(localize 'SR6.Tooltips.Effect.DocumentEffects')
        }}
        {{#each effects}}
        {{> 'systems/sr6elysium/dist/templates/common/List/ListItem.html'
            img=(firstDefined this.img this.icon)
            name=this.name
            itemId=this.id
            itemType='ActiveEffect'
            icons=(EffectIcons this)
            rightSide=(EffectRightSide this)
            hasDesc=false
            hasRoll=false
            itemCssClass='list-item-effect'
            }}
        {{/each}}
        <!-- Owned Item Effects. Actor only. -->
        {{#if itemEffects}}
        {{> 'systems/sr6elysium/dist/templates/common/List/ListHeader.html'
            name=(localize 'SR6.Labels.Sheet.ItemEffects')
            tooltip=(localize 'SR6.Tooltips.Effect.ItemEffects')
            itemCssClass='list-item-effect'
            rightSide=(ItemHeaderRightSide 'itemEffects')
        }}
        {{#each itemEffects}}
        {{> 'systems/sr6elysium/dist/templates/common/List/ListItem.html'
            img=(firstDefined this.img this.icon)
            name=this.sheetName
            itemId=this.uuid
            itemType='ActiveEffect'
            icons=(ItemEffectIcons this)
            rightSide=(EffectRightSide this)
            hasDesc=false
            hasRoll=false
            itemCssClass='list-item-effect'
            }}
        {{/each}}
        {{/if}}
        </div>
    </div>
{{/'systems/sr6elysium/dist/templates/common/TabWrapper.html'}}
