{{#> 'systems/sr6elysium/dist/templates/common/TabWrapper.html' tabId='matrix'}}
    <div class="attributes">
        {{> "systems/sr6elysium/dist/templates/actor/parts/matrix/DeviceRating.html" }}
        <div class="block">
            <div class="block-line gap-4 border-bottom center">
                <label class="matrix-label">
                    {{localize "SR6.HotSim"}}
                    <input
                            type="checkbox"
                            class="submit-checkbox"
                            name="system.matrix.hot_sim"
                        {{checked system.matrix.hot_sim}}
                    />
                </label>
                <label class="matrix-label">
                    {{localize "SR6.RunningSilent"}}
                    <input
                            type="checkbox"
                            class="submit-checkbox"
                            name="system.matrix.running_silent"
                        {{checked system.matrix.running_silent}}
                    />
                </label>
            </div>
            <div class="attribute">
                <div class="attribute-name">
                    {{localize "SR6.ConditionMonitor"}}
                </div>
                {{> 'systems/sr6elysium/dist/templates/common/HorizontalCellInput.html'
                        value=system.matrix.condition_monitor.value
                        max=system.matrix.condition_monitor.max
                        id="matrix"
                }}
            </div>
        </div>
        {{#each config.matrixAttributes as |label key|}}
            {{> "systems/sr6elysium/dist/templates/actor/parts/matrix/MatrixAttribute.html"
                    matrixAtt=(lookup ../system.matrix key)
                    isCyberdeck=../system.matrix.is_cyberdeck
                    key=key
                    label=label
                    matrixAttributes=../config/matrixAttributes
                    item=../system.matrix.item }}
        {{/each}}
    </div>
    <div class="inventory">
        <div class ="scroll-area scroll-area-matrix">
            {{#if emerged}}
                {{> 'systems/sr6elysium/dist/templates/actor/parts/matrix/ComplexFormList.html' }}
                {{> 'systems/sr6elysium/dist/templates/actor/parts/matrix/CompilationList.html' }}
            {{/if}}
            {{> 'systems/sr6elysium/dist/templates/actor/parts/matrix/ProgramList.html' }}
            {{> 'systems/sr6elysium/dist/templates/actor/parts/matrix/MatrixActionList.html' }}
        </div>
    </div>
{{/ 'systems/sr6elysium/dist/templates/common/TabWrapper.html'}}
