{{> 'systems/shadowrun6-elysium/dist/templates/rolls/success-test-message.html'}}
<div class="sr6 chat-card roll-card">
    <div class="card-content">
        <div class="left-side">
            <div class="test-value">
                <span class="value">{{localize "SR6.IncomingDrain"}}: </span>
                <span class="value-result">
                    <span class="button apply-damage"
                      data-damage-value="{{test.data.drain}}"
                      data-damage-type="stun"
                      >
                        {{#if test.data.drain}}{{test.data.drain}}{{else}}4{{/if}}S
                    </span>
                </span>
            </div>
        </div>
        <div class="right-side">
            {{#if test.data.ampUp}}
            <div class="test-value">
                <span class="value">Amp Up:</span>
                <span class="value-result">{{test.data.ampUp}} (+{{test.data.ampUp}} damage)</span>
            </div>
            {{/if}}
            {{#if test.data.increasedArea}}
            <div class="test-value">
                <span class="value">Increased Area:</span>
                <span class="value-result">{{test.data.increasedArea}}</span>
            </div>
            {{/if}}
        </div>
    </div>
</div>

{{#each test.data.defenders as | defender |}}
<div class="sr6 chat-card roll-card">
    <div class="card-content">
        <div class="left-side">
            <span class="{{#unless defender.isWinner}}value-result{{/unless}}">
                {{../speaker.actor.name}}'s AR: {{../test.data.attackerAR}}
            </span>
        </div>
        <div class="right-side">
            <span class="{{#if defender.isWinner}}value-result{{/if}}">
                {{defender.name}}'s DR: {{defender.dr}}
            </span>
        </div>
    </div>
</div>
{{#if defender.hasSignificantAdvantage}}
    {{#if defender.isWinner}}
        {{#if defender.edgeAwarded}}
        <div class="sr6 chat-card roll-card">
            <div class="card-content">
                <b>{{defender.name}} gained Edge!</b>
            </div>
        </div>
        {{else}}
        <div class="sr6 chat-card roll-card">
            <div class="card-content">
                <b>Edge Not Gained:</b> {{defender.edgeReason}}
            </div>
        </div>
        {{/if}}
    {{else}}
        {{#if (not defender.edgeAwarded)}}
        <div class="sr6 chat-card roll-card">
            <div class="card-content">
                <b>{{../speaker.actor.name}} could not gain Edge: {{defender.edgeReason}}</b>
            </div>
        </div>
        {{/if}}
    {{/if}}
{{else}}
<div class="sr6 chat-card roll-card">
    <div class="card-content">
        <b>{{localize "SR6.NoEdgeAwarded"}}</b>
    </div>
</div>
{{/if}}
{{/each}}
