<div class="scroll-area">
    {{> 'systems/sr6elysium/dist/templates/common/List/ListHeader.html'
            name=(localize 'SR6.Actions')
            itemId='action'
            icons=(ItemHeaderIcons 'action')
            rightSide=(ItemHeaderRightSide 'action')
            itemId='action'
    }}

    {{!-- Regular Actions --}}
    {{#if nonMatrixActions}}
        {{#each nonMatrixActions as |item iid|}}
        {{> 'systems/sr6elysium/dist/templates/common/List/ListItem.html'
        img=item.img
        name=item.name
        itemId=item._id
        icons=(ItemIcons item)
        rightSide=(ItemRightSide item)
        hasDesc="true"
        hasRoll="true"
        description=item.description.value
        }}
        {{/each}}
    {{else}}
        {{!-- Fallback to using itemType.action if nonMatrixActions is not available --}}
        {{#each itemType.action as |item iid|}}
            {{#unless (contains item.name "Matrix")}} {{!-- Skip items with Matrix in the name --}}
            {{> 'systems/sr6elysium/dist/templates/common/List/ListItem.html'
            img=item.img
            name=item.name
            itemId=item._id
            icons=(ItemIcons item)
            rightSide=(ItemRightSide item)
            hasDesc="true"
            hasRoll="true"
            description=item.description.value
            }}
            {{/unless}}
        {{/each}}
    {{/if}}
</div>
