{{#> "systems/sr6elysium/dist/templates/common/Attribute.html" cssClass="no-grow"}}
    <div class="attribute-name">
        {{localize "SR6.Movement"}}
    </div>
    <div class="track">
        <div class="attribute-input-container value">
            {{> 'systems/sr6elysium/dist/templates/common/ValueInput.html'
                    cssClass="attribute-input"
                    title="SR6.WalkingSpeed"
                    size="2"
                    maxLength="2"
                    value=system.movement.walk.value
                    disabled="true"
            }}
            {{> "systems/sr6elysium/dist/templates/common/ValueModifiers.html" value=system.movement.walk}}
        </div>
        <div class="track-slash"></div>
        <div class="attribute-input-container value">
            {{> 'systems/sr6elysium/dist/templates/common/ValueInput.html'
                    cssClass="attribute-input"
                    title="SR6.RunningSpeed"
                    size="2"
                    maxLength="2"
                    value=system.movement.run.value
                    disabled="true"
            }}
            {{> "systems/sr6elysium/dist/templates/common/ValueModifiers.html" value=system.movement.run}}
        </div>
        <div class="track-slash"></div>
        <div class="input attribute-input-container">
            {{> 'systems/sr6elysium/dist/templates/common/ValueInput.html'
                    cssClass="attribute-input"
                    title="SR6.RunningSpeed"
                    size="2"
                    maxLength="2"
                    value=system.movement.sprint
                    name="system.movement.sprint"
            }}
            <span class="unit"> + </span>
        </div>
    </div>
{{/"systems/sr6elysium/dist/templates/common/Attribute.html"}}
