<form class="{{cssClass}} wholesheet" autocomplete="off">
    {{> "systems/sr6elysium/dist/templates/item/parts/header.html"}}
    <nav class="tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "SR6.Description"}}</a>
        <a class="item" data-tab="matrix">{{localize "SR6.Labels.ActorSheet.Matrix"}}</a>
        <a class="item" data-tab="network">{{localize "SR6.Labels.Sheet.PAN"}}</a>
        <a class="item" data-tab="effects">{{ localize "SR6.Effects" }}</a>
    </nav>
    <section class="sheetbody">
        <div class="tab" data-group="primary" data-tab="description">
            <div class="flexrow align-start nowrap full-height">
                {{> "systems/sr6elysium/dist/templates/item/parts/technology.html" }}
                {{> "systems/sr6elysium/dist/templates/item/parts/description.html"}}
            </div>
        </div>
        <div class="tab" data-group="primary" data-tab="matrix">
            <div class="tabbody">
                <div class="inventory">
                    <div class="scroll-area">
                        {{> "systems/sr6elysium/dist/templates/item/parts/matrix.html"}}
                    </div>
                </div>
            </div>
        </div>
        {{> "systems/sr6elysium/dist/templates/actor/tabs/NetworkTab.html"}}
        {{> "systems/sr6elysium/dist/templates/actor/tabs/EffectsTab.html"}}
    </section>
</form>
