<form>
    <div class="dialog-content-common">
        {{> 'systems/sr6elysium/dist/templates/apps/dialogs/parts/success-test-documents.html'}}
        <hr />
        <div>
            <div class="form-group">
                <label>{{localize "SR6.RecklessSpellButton"}}</label>
                <input type="checkbox" name="test.data.reckless" {{#if test.data.reckless}}checked{{/if}}/>
            </div>
            <div class="form-group">
                <label>Amp Up</label>
                <div class="number-spinner">
                    <button type="button" class="number-spinner-button" data-action="decrement" data-field="test.data.ampUp">-</button>
                    <input name="test.data.ampUp" type="number" min="0" value="0" />
                    <button type="button" class="number-spinner-button" data-action="increment" data-field="test.data.ampUp">+</button>
                </div>
            </div>
            <div class="form-group">
                <label>Increased Area</label>
                <div class="number-spinner">
                    <button type="button" class="number-spinner-button" data-action="decrement" data-field="test.data.increasedArea">-</button>
                    <input name="test.data.increasedArea" type="number" min="0" value="0" />
                    <button type="button" class="number-spinner-button" data-action="increment" data-field="test.data.increasedArea">+</button>
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "SR6.DrainValue"}} ({{test.item.getDrain}})</label>
                <div class="drain-value">{{test.data.drain}}S</div>
            </div>
        </div>
    </div>
    <div>
        {{> 'systems/sr6elysium/dist/templates/apps/dialogs/parts/success-test-common.html'}}
    </div>
</form>
