<div class="item-form">
    <div class="header">
        {{localize header}}
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR6.Labels.Action.ActiveTest"}}
        </div>
        <div class="inputs">
            <select name="system.action.test">
                {{#select system.action.test}}
                <option value=""></option>
                {{#each activeTests}}
                <option value="{{this.name}}">{{localize this.label}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>
    {{#if (not hideActionCategory)}}
    <div class="form-line">
        <div class="label" data-tooltip="SR6.Tooltips.Item.ActionCategories">
            {{localize "SR6.Labels.Action.Category"}}
        </div>
        <div class="inputs">
            <input id="action-categories" class="tagify-selection"/>
        </div>
    </div>
    {{/if}}
    <div class="form-line">
        <div class="label">
            {{localize "SR6.ActionType"}}
        </div>
        <div class="inputs">
            {{#if system.action.type}}
            <label>
                {{localize "SR6.Extended"}}<input
                    data-tooltip="SR6.Specialization"
                    type="checkbox"
                    name="system.action.extended"
                    {{checked system.action.extended}}
                />
            </label>
            {{/if}}
            <select name="system.action.type">
                {{#select system.action.type}}
                <option value=""></option>
                {{#each config.actionTypes as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}} {{/select}}
            </select>
        </div>
    </div>
    <div class="form-line">
        <div class="label" data-tooltip="SR6.Tooltips.Item.InitiativeTiming">
            {{localize "SR6.InitiativeTiming"}}
        </div>
        <div class="inputs">
            <select name="system.action.initiative_timing">
                {{#select system.action.initiative_timing}}
                <option value=""></option>
                {{#each config.initiativeTiming as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}} {{/select}}
            </select>
        </div>
    </div>

    {{#if (contains (json system.action.categories) "matrix")}} {{!-- Only show legality for matrix actions --}}
    <div class="form-line">
        <div class="label" data-tooltip="SR6.Tooltips.Item.Legality">
            {{localize "SR6.Legality"}}
        </div>
        <div class="inputs">
            <select name="system.action.legality">
                {{#select system.action.legality}}
                <option value="legal">{{localize "SR6.Legal"}}</option>
                <option value="illegal">{{localize "SR6.Illegal"}}</option>
                {{/select}}
            </select>
        </div>
    </div>
    {{/if}}
    {{#if system.action.type}}
    <div class="form-line">
        <div class="label">
            {{localize "SR6.Skill.Skill"}}
        </div>
        <div class="inputs">
            {{#if system.action.skill}}
            <label>
                {{localize "SR6.Specialization"}}
                <input
                    data-tooltip="SR6.Specialization"
                    type="checkbox"
                    name="system.action.spec"
                    {{checked system.action.spec}}
                />
            </label>
            {{/if}}
            <select name="system.action.skill">
                {{#select system.action.skill}}
                <option value=""></option>
                {{#each activeSkills as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}} {{/select}}
            </select>
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR6.Attribute"}}
        </div>
        <div class="inputs">
            <select name="system.action.attribute">
                {{#select system.action.attribute}}
                <option value=""></option>
                {{#each attributes as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}} {{/select}}
            </select>
            {{#unless system.action.skill}}
            <select name="system.action.attribute2">
                {{#select system.action.attribute2}}
                <option value=""></option>
                {{#each attributes as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}} {{/select}}
            </select>
            {{/unless}}
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR6.DicePoolModifier"}}
        </div>
        <div class="inputs">
            <input
                size="4"
                maxlength="3"
                type="number"
                name="system.action.mod"
                value="{{system.action.mod}}"
                data-dtype="Number"
                placeholder="+Mod"
            />
        </div>
    </div>
    {{#ifne item.type "spell"}} {{#ifne item.type "complex_form"}}
    <div class="form-line">
        <div class="label" data-tooltip="SR6.Tooltips.Item.ActionRollMode">
            {{localize "SR6.RollMode"}}
        </div>
        <div class="inputs">
            <select name="system.action.roll_mode">
                {{#select system.action.roll_mode}}
                <option value=""></option>
                {{#each rollModes as |label mode|}}
                <option value="{{mode}}">{{localize label}}</option>
                {{/each}} {{/select}}
            </select>
        </div>
    </div>
    {{/ifne}} {{/ifne}} {{/if}}
</div>
