<div class="item-form">
    <div class="header">
        {{header}}
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR6.DamageType"}}
        </div>
        <div class="inputs">
            <select name="system.type">
                <option value=""></option>
                {{#select system.type}} {{#each config.modificationTypes as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}} {{/select}}
            </select>
        </div>
    </div>
    {{#ife system.type 'weapon'}}
    <div class="form-line">
        <div class="label">
            {{localize "SR6.MountPoint"}}
        </div>
        <div class="inputs">
            <select name="system.mount_point">
                <option value=""></option>
                {{#select system.mount_point}} {{#each config.mountPoints as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}} {{/select}}
            </select>
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR6.DicePool"}}
        </div>
        <div class="inputs">
            <input type="text"
                   maxlength="2"
                   size="2"
                   name="system.dice_pool"
                   value="{{system.dice_pool}}"
                   data-dtype="Number"
                   placeholder="Dice Pool" />
        </div>
    </div>
    {{/ife}}
    {{#ife system.type 'vehicle'}}
    <div class="form-line">
        <div class="label">
            {{localize "SR6.ModificationCategory"}}
        </div>
        <div class="inputs">
            <select name="system.modification_category">
                <option value=""></option>
                {{#select system.modification_category}} {{#each config.modificationCategories as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}} {{/select}}
            </select>
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR6.ModificationSlots"}}
        </div>
        <div class="inputs">
            <input type="text"
                   maxlength="2"
                   size="5"
                   name="system.slots"
                   value="{{system.slots}}"
                   data-dtype="Number"
                   placeholder="Slots" />
        </div>
    </div>
    {{/ife}}
    {{#ife system.type 'drone'}}
    <div class="form-line">
        <div class="label">
            {{localize "SR6.ModPoints"}}
        </div>
        <div class="inputs">
            <input type="text"
                   maxlength="2"
                   size="5"
                   name="system.slots"
                   value="{{system.slots}}"
                   data-dtype="Number"
                   placeholder="Slots" />
        </div>
    </div>
    {{/ife}}
</div>
